@media only screen and (min-width: 601px) {
    #my-profile {
    }
}

#my-profile {

    display: grid;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

#my-profile table input[type=text]{
    width: 98%;
}

#my-profile #search_by_email{
    display: inline-block;
}
#my-profile h1 {
    font-size: 30px;
}

#my-profile table {
    font-size: 20px;
}

#my-profile td {
    text-align: left;
    border: 1px #8d8d8d;
}
