#product-management {
    margin: auto;
    display: grid;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

#product-management table input[type=email] {
    width: 98%;
}

#product-management #search_by_name {
    display: inline-block;
}

#product-management #search_by_id {
    display: inline-block;
}

#product-management h1 {
    font-size: 30px;
}

#product-management table {
}

#product-management td {
    text-align: left;
    border: 1px solid #8d8d8d;
}
