#content nav h2 {
    margin-left: 5px;
}

#content nav a:hover {
    background-color: black;
    color: white;
}

#content nav {
    float: left;
    background-color: #d3bd8b;
}

@media only screen and (min-width: 601px) {
    #content nav {
        width: 215px;
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    #content nav {
        width: 100%;
    }
}

#content nav a {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    background-color: #bba280;
    color: black;
    text-align: left;
    padding: 14px 16px;
    margin-top: 5px;
    text-decoration: khaki;
    font-size: 18px;
}