body, html {
    font-family: "Bahnschrift", "Arial", "Helvetica", sans-serif;
    height: 100%;
    margin: 0;
    background-color: white;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    #content {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 601px) {
    #content {
        display: block;
    }
}

#content main {
    display: flex;
    flex-wrap: wrap;
}

