body, html {
    font-family: "Bahnschrift", "Arial", "Helvetica", sans-serif;
    height: 100%;
    margin: 0;
    background-color: white;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {

    .container > form, .container > div {
        width: 100%;
    }
}

#content main {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > form, .container > div {
    border: #333333 1px solid;
    margin: 5px;
}

.total {
    color: red;
    font-size: 18px;
}

